In [145]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sklearn as skl
import tensorflow as tf
from pathlib import Path
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import random as r
import pickle

In [2]:
#import data

# Create Engine
engine = create_engine("sqlite:///../lifestyle_sleep_data.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

# Save reference to the table
Sleep = Base.classes.lifestyle_sleep_data

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)
conn = engine.connect()

In [4]:
# Query All Records in the the Database
sleep_df = pd.read_sql("SELECT * FROM lifestyle_sleep_data", conn)
sleep_df=sleep_df.drop(columns = "person_id")
sleep_df.head()

,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90

In [5]:
#temporary direct import of data while waiting for sql database update
#sleep_df=pd.read_csv("../Data/Sleep_health_mk1.csv")
#handle lower case/upper case descrepancy
#sleep_df.columns=sleep_df.columns.str.strip().str.lower()
#convert spaces to underscore
#sleep_df.columns = sleep_df.columns.str.replace(' ', '_')
#remove unnamed column:
#sleep_df.drop(columns="unnamed:_0",inplace=True)
#restore caps to BMI
#sleep_df=sleep_df.rename(columns={"bmi_category":"BMI_category"})
#sleep_df.head()

Data Preprocessing:

In [6]:
# Verify the categories of the "occupation" column
occupations=sleep_df['occupation'].value_counts()
occupations

occupation
Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: count, dtype: int64

In [7]:
#bin occupations with fewer than 30 subjects
#determine which occupations qualify and add to a list
occupations_replace=[]
for occ in occupations.items():
    if occ[1]<30:
        occupations_replace.append(occ[0])
#replace said occupations with "Other"
for occ in occupations_replace:
    sleep_df['occupation']=sleep_df['occupation'].replace(occ,"Other")
#verify successful binning
sleep_df['occupation'].value_counts()

occupation
Nurse          73
Doctor         71
Engineer       63
Lawyer         47
Teacher        40
Accountant     37
Salesperson    32
Other          11
Name: count, dtype: int64

In [8]:
len(sleep_df['occupation'].value_counts())

8

In [9]:
# Transform the occupation column using get_dummies
occupation_dummies = pd.get_dummies(sleep_df['occupation'])

# Concatenate the sleep_df and the occupation_dummies DataFrames
sleep_df = pd.concat([sleep_df, occupation_dummies], axis=1)

# Drop the original occupation column
sleep_df =sleep_df.drop(columns=["occupation"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher
0,Male,27,6.1,6,42,6,Overweight,77,4200,None,126,83,False,False,False,False,False,True,False,False
1,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,False,True,False,False,False,False,False,False
2,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,False,True,False,False,False,False,False,False
3,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,False,False,False,False,False,True,False,False
4,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,False,False,False,False,False,True,False,False

In [10]:
# Clean-up the "BMI-category"
sleep_df["BMI_category"] = sleep_df["BMI_category"].replace({'Normal': 'Normal Weight', 'Obese': 'Overweight'})
sleep_df['BMI_category'].value_counts()

BMI_category
Normal Weight    216
Overweight       158
Name: count, dtype: int64

In [11]:
# Transform the "BMI_category" column using get_dummies
bmi_dummies = pd.get_dummies(sleep_df['BMI_category'])

# Concatenate the sleep_df and the bmi_dummies DataFrames
sleep_df = pd.concat([sleep_df, bmi_dummies], axis=1)

# Drop the original "BMI_category"  column
sleep_df =sleep_df.drop(columns=["BMI_category"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,...,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight
0,Male,27,6.1,6,42,6,77,4200,None,126,...,False,False,False,False,False,True,False,False,False,True
1,Male,28,6.2,6,60,8,75,10000,None,125,...,False,True,False,False,False,False,False,False,True,False
2,Male,28,6.2,6,60,8,75,10000,None,125,...,False,True,False,False,False,False,False,False,True,False
3,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,False,False,False,False,False,True,False,False,False,True
4,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,False,False,False,False,False,True,False,False,False,True

In [12]:
# Verify the values of the "gender" column
sleep_df['gender'].value_counts()

gender
Male      189
Female    185
Name: count, dtype: int64

In [13]:
# Transform the "gender" column using get_dummies
gender_dummies = pd.get_dummies(sleep_df['gender'])

# Concatenate the sleep_df and the gender_dummies DataFrames
sleep_df = pd.concat([sleep_df, gender_dummies], axis=1)

# Drop the original "gender" column
sleep_df =sleep_df.drop(columns=["gender"])

# Display the DataFrame
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,None,126,83,...,False,False,False,True,False,False,False,True,False,True
1,28,6.2,6,60,8,75,10000,None,125,80,...,False,False,False,False,False,False,True,False,False,True
2,28,6.2,6,60,8,75,10000,None,125,80,...,False,False,False,False,False,False,True,False,False,True
3,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,False,False,False,True,False,False,False,True,False,True
4,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,False,False,False,True,False,False,False,True,False,True

In [14]:
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

sleep_disorder
None           219
Sleep Apnea     78
Insomnia        77
Name: count, dtype: int64

In [15]:
#diverge sheets with one preserving Sleep Apnea and Insomnia, vs combining into a single bin
sleep_df2=sleep_df.copy()

In [16]:
# Clean-up the "sleep_disorder" column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].replace({'Sleep Apnea': 'Sleep Disorder', 'Insomnia': 'Sleep Disorder'})
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

sleep_disorder
None              219
Sleep Disorder    155
Name: count, dtype: int64

In [17]:
# Encoding the sleep_disorder column using a custom function
def encode_disorder(disorder):
    """
    This function encodes sleep disorder status by setting sleep apnea as 1 and no as 0.
    """
    if disorder == "Sleep Disorder":
        return 1
    else:
        return 0

# Call the encode_marriage function on the marriage column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].apply(encode_disorder)

# Review the DataFrame 
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,0,126,83,...,False,False,False,True,False,False,False,True,False,True
1,28,6.2,6,60,8,75,10000,0,125,80,...,False,False,False,False,False,False,True,False,False,True
2,28,6.2,6,60,8,75,10000,0,125,80,...,False,False,False,False,False,False,True,False,False,True
3,28,5.9,4,30,8,85,3000,1,140,90,...,False,False,False,True,False,False,False,True,False,True
4,28,5.9,4,30,8,85,3000,1,140,90,...,False,False,False,True,False,False,False,True,False,True

In [18]:
# Transform the "sleep_disorder" column using get_dummies
disorder_dummies = pd.get_dummies(sleep_df2['sleep_disorder'])

# Identify target columns for later
target_col=list(disorder_dummies.columns)

# Concatenate the sleep_df and the disorder_dummies DataFrames
sleep_df2 = pd.concat([sleep_df2, disorder_dummies], axis=1)

# Drop the original "sleep_disorder" column
sleep_df2 = sleep_df2.drop(columns=["sleep_disorder"])

# Display the DataFrame
sleep_df2.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male,Insomnia,None,Sleep Apnea
0,27,6.1,6,42,6,77,4200,126,83,False,...,True,False,False,False,True,False,True,False,True,False
1,28,6.2,6,60,8,75,10000,125,80,False,...,False,False,False,True,False,False,True,False,True,False
2,28,6.2,6,60,8,75,10000,125,80,False,...,False,False,False,True,False,False,True,False,True,False
3,28,5.9,4,30,8,85,3000,140,90,False,...,True,False,False,False,True,False,True,False,False,True
4,28,5.9,4,30,8,85,3000,140,90,False,...,True,False,False,False,True,False,True,False,False,True

In [19]:
target_col

['Insomnia', 'None', 'Sleep Apnea']

Neural Network Time

In [20]:
# Seperate the features, X,  from the target variable, y
y = sleep_df['sleep_disorder']
X = sleep_df.drop(columns='sleep_disorder')

In [21]:

print(X.columns)
keys=list(X.columns)

Index(['age', 'sleep_duration', 'quality_of_sleep', 'physical_activity_level',
       'stress_level', 'heart_rate', 'daily_steps', 'systolic_blood_pressure',
       'diastolic_blood_pressure', 'Accountant', 'Doctor', 'Engineer',
       'Lawyer', 'Nurse', 'Other', 'Salesperson', 'Teacher', 'Normal Weight',
       'Overweight', 'Female', 'Male'],
      dtype='object')

In [22]:
X.iloc[0]

age                            27
sleep_duration                6.1
quality_of_sleep                6
physical_activity_level        42
stress_level                    6
heart_rate                     77
daily_steps                  4200
systolic_blood_pressure       126
diastolic_blood_pressure       83
Accountant                  False
Doctor                      False
Engineer                    False
Lawyer                      False
Nurse                       False
Other                        True
Salesperson                 False
Teacher                     False
Normal Weight               False
Overweight                   True
Female                      False
Male                         True
Name: 0, dtype: object

In [23]:
X.iloc[0].to_numpy()

array([27, 6.1, 6, 42, 6, 77, 4200, 126, 83, False, False, False, False,
       False, True, False, False, False, True, False, True], dtype=object)

In [25]:
for key in keys:
    max_=X[key].max()
    min_=X[key].min()
    print(f"{key}: max:{max_}, min:{min_}, range:{(max_-min_)}")

age: max:59, min:27, range:32
sleep_duration: max:8.5, min:5.8, range:2.7
quality_of_sleep: max:9, min:4, range:5
physical_activity_level: max:90, min:30, range:60
stress_level: max:8, min:3, range:5
heart_rate: max:86, min:65, range:21
daily_steps: max:10000, min:3000, range:7000
systolic_blood_pressure: max:142, min:115, range:27
diastolic_blood_pressure: max:95, min:75, range:20

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

In [26]:
#split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
X_train.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
59,32,7.7,7,75,6,70,8000,120,80,False,...,False,False,False,False,False,False,True,False,False,True
12,29,6.1,6,30,8,70,8000,120,80,False,...,False,False,False,False,False,False,True,False,False,True
289,50,6.1,6,90,8,75,10000,140,95,False,...,False,False,True,False,False,False,False,True,True,False
201,43,7.8,8,90,5,70,8000,130,85,False,...,True,False,False,False,False,False,True,False,False,True
91,35,7.3,8,60,4,65,5000,125,80,False,...,True,False,False,False,False,False,True,False,False,True

In [28]:
#Scale X
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 176

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 227 (908.00 Byte)
Trainable params: 227 (908.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
9/9 [==============================] - 1s 2ms/step - loss: 0.6793 - accuracy: 0.5107
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6418 - accuracy: 0.5643
Epoch 3/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6157 - accuracy: 0.6536
Epoch 4/100
9/9 [==============================] - 0s 3ms/step - loss: 0.5969 - accuracy: 0.6929
Epoch 5/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5797 - accuracy: 0.6964
Epoch 6/100
9/9 [==============================] - 0s 3ms/step - loss: 0.5638 - accuracy: 0.6964
Epoch 7/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5477 - accuracy: 0.6964
Epoch 8/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5352 - accuracy: 0.6964
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5241 - accuracy: 0.6964
Epoch 10/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5158 - accuracy: 0.7536
Epoch 11/100
9/9 [==============================] - 0s 1ms/step - loss: 0.5080 - accuracy: 0.7821
Epoch 12/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4999 - accuracy: 0.8286
Epoch 13/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4842 - accuracy: 0.8464
Epoch 14/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4664 - accuracy: 0.8464
Epoch 15/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4504 - accuracy: 0.8464
Epoch 16/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4373 - accuracy: 0.8464
Epoch 17/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4270 - accuracy: 0.8536
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4169 - accuracy: 0.8536
Epoch 19/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4088 - accuracy: 0.8536
Epoch 20/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8750
Epoch 21/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.9143
Epoch 22/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3867 - accuracy: 0.9250
Epoch 23/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3785 - accuracy: 0.9250
Epoch 24/100
9/9 [==============================] - 0s 4ms/step - loss: 0.3709 - accuracy: 0.9286
Epoch 25/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3616 - accuracy: 0.9286
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3527 - accuracy: 0.9321
Epoch 27/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.9321
Epoch 28/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3345 - accuracy: 0.9321
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3268 - accuracy: 0.9321
Epoch 30/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.9321
Epoch 31/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3157 - accuracy: 0.9321
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3110 - accuracy: 0.9321
Epoch 33/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3074 - accuracy: 0.9321
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3037 - accuracy: 0.9321
Epoch 35/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3009 - accuracy: 0.9321
Epoch 36/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2985 - accuracy: 0.9321
Epoch 37/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2958 - accuracy: 0.9321
Epoch 38/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2933 - accuracy: 0.9321
Epoch 39/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2909 - accuracy: 0.9321
Epoch 40/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2891 - accuracy: 0.9321
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2870 - accuracy: 0.9321
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2849 - accuracy: 0.9321
Epoch 43/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2826 - accuracy: 0.9321
Epoch 44/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2810 - accuracy: 0.9321
Epoch 45/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2794 - accuracy: 0.9321
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2774 - accuracy: 0.9321
Epoch 47/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2758 - accuracy: 0.9321
Epoch 48/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2745 - accuracy: 0.9321
Epoch 49/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2732 - accuracy: 0.9321
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2718 - accuracy: 0.9321
Epoch 51/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2707 - accuracy: 0.9321
Epoch 52/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2696 - accuracy: 0.9321
Epoch 53/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2685 - accuracy: 0.9321
Epoch 54/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2674 - accuracy: 0.9321
Epoch 55/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2665 - accuracy: 0.9321
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2656 - accuracy: 0.9321
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2650 - accuracy: 0.9321
Epoch 58/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2631 - accuracy: 0.9321
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2610 - accuracy: 0.9321
Epoch 60/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2588 - accuracy: 0.9321
Epoch 61/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2566 - accuracy: 0.9321
Epoch 62/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2544 - accuracy: 0.9321
Epoch 63/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2530 - accuracy: 0.9321
Epoch 64/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2507 - accuracy: 0.9321
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2489 - accuracy: 0.9321
Epoch 66/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2475 - accuracy: 0.9321
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2461 - accuracy: 0.9321
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2445 - accuracy: 0.9321
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2428 - accuracy: 0.9321
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2417 - accuracy: 0.9321
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2403 - accuracy: 0.9321
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2391 - accuracy: 0.9321
Epoch 73/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2376 - accuracy: 0.9321
Epoch 74/100
9/9 [==============================] - 0s 997us/step - loss: 0.2367 - accuracy: 0.9321
Epoch 75/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2358 - accuracy: 0.9321
Epoch 76/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2346 - accuracy: 0.9321
Epoch 77/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2332 - accuracy: 0.9321
Epoch 78/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2323 - accuracy: 0.9321
Epoch 79/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2311 - accuracy: 0.9321
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2297 - accuracy: 0.9321
Epoch 81/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2283 - accuracy: 0.9321
Epoch 82/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2272 - accuracy: 0.9321
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2256 - accuracy: 0.9321
Epoch 84/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2240 - accuracy: 0.9321
Epoch 85/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2230 - accuracy: 0.9321
Epoch 86/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2213 - accuracy: 0.9357
Epoch 87/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2203 - accuracy: 0.9357
Epoch 88/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2186 - accuracy: 0.9357
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2174 - accuracy: 0.9357
Epoch 90/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2160 - accuracy: 0.9357
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2148 - accuracy: 0.9357
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2134 - accuracy: 0.9429
Epoch 93/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2126 - accuracy: 0.9429
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2118 - accuracy: 0.9464
Epoch 95/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2110 - accuracy: 0.9464
Epoch 96/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2096 - accuracy: 0.9464
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2087 - accuracy: 0.9464
Epoch 98/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2081 - accuracy: 0.9464
Epoch 99/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2075 - accuracy: 0.9464
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2071 - accuracy: 0.9464

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 - 0s - loss: 0.3202 - accuracy: 0.9255 - 163ms/epoch - 54ms/step
Loss: 0.320212721824646, Accuracy: 0.9255319237709045

In [33]:
# Export our model to HDF5 file
nn.save_weights('sleep_model.hdf5')

Try again without the sleep disorders binned

In [34]:
# Seperate the features, X,  from the target variable, y
y2 = sleep_df2[target_col]
X2 = sleep_df2.drop(columns=target_col)

In [35]:
#split dataset
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)

In [36]:
#Scale X
scaler2 = StandardScaler()

# Fit the StandardScaler
X_scaler2 = scaler2.fit(X_train2)

# Scale the data
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features2 = len(X_train2.columns)
hidden_nodes2_layer1 =  8
hidden_nodes2_layer2 = 5

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes2_layer1, input_dim=number_input_features2, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes2_layer2, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=3, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 176

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 3)                 18

=================================================================
Total params: 239 (956.00 Byte)
Trainable params: 239 (956.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [39]:
# Train the model
fit_model2 = nn2.fit(X_train_scaled2,y_train2,epochs=100)

Epoch 1/100

9/9 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.5143
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5330 - accuracy: 0.5500
Epoch 3/100
9/9 [==============================] - 0s 1ms/step - loss: 0.5059 - accuracy: 0.5857
Epoch 4/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4827 - accuracy: 0.5857
Epoch 5/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4650 - accuracy: 0.5929
Epoch 6/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4493 - accuracy: 0.6000
Epoch 7/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4355 - accuracy: 0.6036
Epoch 8/100
9/9 [==============================] - 0s 1ms/step - loss: 0.4230 - accuracy: 0.6179
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.6750
Epoch 10/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3935 - accuracy: 0.6857
Epoch 11/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3798 - accuracy: 0.7179
Epoch 12/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3686 - accuracy: 0.7357
Epoch 13/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.7357
Epoch 14/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.7357
Epoch 15/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.7357
Epoch 16/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.7357
Epoch 17/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3398 - accuracy: 0.8107
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8107
Epoch 19/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8143
Epoch 20/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8143
Epoch 21/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3280 - accuracy: 0.8143
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3259 - accuracy: 0.8143
Epoch 23/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3232 - accuracy: 0.8143
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3214 - accuracy: 0.8143
Epoch 25/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.8143
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3169 - accuracy: 0.8143
Epoch 27/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3149 - accuracy: 0.8143
Epoch 28/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3132 - accuracy: 0.8214
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8214
Epoch 30/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3092 - accuracy: 0.8357
Epoch 31/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3076 - accuracy: 0.8357
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3059 - accuracy: 0.8357
Epoch 33/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3038 - accuracy: 0.8357
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8357
Epoch 35/100
9/9 [==============================] - 0s 1ms/step - loss: 0.3004 - accuracy: 0.8357
Epoch 36/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2986 - accuracy: 0.8357
Epoch 37/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2971 - accuracy: 0.8357
Epoch 38/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2955 - accuracy: 0.8357
Epoch 39/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2940 - accuracy: 0.8357
Epoch 40/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2925 - accuracy: 0.8357
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2910 - accuracy: 0.8357
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2895 - accuracy: 0.8357
Epoch 43/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2880 - accuracy: 0.8357
Epoch 44/100
9/9 [==============================] - 0s 5ms/step - loss: 0.2867 - accuracy: 0.8393
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2851 - accuracy: 0.8393
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2839 - accuracy: 0.8429
Epoch 47/100
9/9 [==============================] - 0s 7ms/step - loss: 0.2823 - accuracy: 0.8429
Epoch 48/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2809 - accuracy: 0.8429
Epoch 49/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2796 - accuracy: 0.8429
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2784 - accuracy: 0.8464
Epoch 51/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2770 - accuracy: 0.8500
Epoch 52/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2756 - accuracy: 0.8500
Epoch 53/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2744 - accuracy: 0.8500
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2730 - accuracy: 0.8500
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2718 - accuracy: 0.8500
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2703 - accuracy: 0.8500
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2693 - accuracy: 0.8464
Epoch 58/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2679 - accuracy: 0.8464
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2667 - accuracy: 0.8714
Epoch 60/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2654 - accuracy: 0.8964
Epoch 61/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2641 - accuracy: 0.9000
Epoch 62/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2629 - accuracy: 0.9000
Epoch 63/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2616 - accuracy: 0.9000
Epoch 64/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2597 - accuracy: 0.9000
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2572 - accuracy: 0.9000
Epoch 66/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2552 - accuracy: 0.9000
Epoch 67/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2527 - accuracy: 0.9000
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2512 - accuracy: 0.9000
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2497 - accuracy: 0.9000
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2482 - accuracy: 0.9000
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2467 - accuracy: 0.9000
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2455 - accuracy: 0.9036
Epoch 73/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2445 - accuracy: 0.9036
Epoch 74/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2428 - accuracy: 0.9107
Epoch 75/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2415 - accuracy: 0.9143
Epoch 76/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2401 - accuracy: 0.9143
Epoch 77/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2390 - accuracy: 0.9143
Epoch 78/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2377 - accuracy: 0.9143
Epoch 79/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2363 - accuracy: 0.9143
Epoch 80/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2351 - accuracy: 0.9143
Epoch 81/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2340 - accuracy: 0.9143
Epoch 82/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2331 - accuracy: 0.9143
Epoch 83/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2317 - accuracy: 0.9143
Epoch 84/100
9/9 [==============================] - 0s 6ms/step - loss: 0.2303 - accuracy: 0.9143
Epoch 85/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2294 - accuracy: 0.9143
Epoch 86/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2280 - accuracy: 0.9143
Epoch 87/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2272 - accuracy: 0.9143
Epoch 88/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2261 - accuracy: 0.9143
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2251 - accuracy: 0.9107
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2239 - accuracy: 0.9143
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2229 - accuracy: 0.9143
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2220 - accuracy: 0.9143
Epoch 93/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2208 - accuracy: 0.9143
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2199 - accuracy: 0.9143
Epoch 95/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2189 - accuracy: 0.9143
Epoch 96/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2182 - accuracy: 0.9143
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2169 - accuracy: 0.9143
Epoch 98/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2161 - accuracy: 0.9143
Epoch 99/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2154 - accuracy: 0.9143
Epoch 100/100
9/9 [==============================] - 0s 1ms/step - loss: 0.2145 - accuracy: 0.9143

In [40]:
# Evaluate the model using the test data
model_loss2, model_accuracy2 = nn2.evaluate(X_test_scaled2,y_test2,verbose=2)
print(f"Loss: {model_loss2}, Accuracy: {model_accuracy2}")

3/3 - 0s - loss: 0.3041 - accuracy: 0.8617 - 114ms/epoch - 38ms/step
Loss: 0.3040507435798645, Accuracy: 0.8617021441459656

In [41]:
# Export our model to HDF5 file
nn2.save_weights('sleep_model2.hdf5')

In [86]:
#lists of features to recreate input variables
#correct order of keys:
keys=['age', 'sleep_duration', 'quality_of_sleep', 'physical_activity_level',
       'stress_level', 'heart_rate', 'daily_steps', 'systolic_blood_pressure',
       'diastolic_blood_pressure', 'Accountant', 'Doctor', 'Engineer',
       'Lawyer', 'Nurse', 'Other', 'Salesperson', 'Teacher', 'Normal Weight',
       'Overweight', 'Female', 'Male']
#keys of numerical features
num_keys=['age', 'sleep_duration', 'quality_of_sleep', 'physical_activity_level',
       'stress_level', 'heart_rate', 'daily_steps', 'systolic_blood_pressure',
       'diastolic_blood_pressure']
#cat_keys=['career','bmi','gen']
#keys for career category
career_keys=['Accountant', 'Doctor', 'Engineer',
       'Lawyer', 'Nurse', 'Other', 'Salesperson', 'Teacher']
#keys for BMI category
bmi_keys=['Normal Weight',
       'Overweight']
#keys for gender category
gen_keys=['Female', 'Male']

In [162]:
#generate random values for sample input:
age=r.randint(27,59)
sleep_duration=round(r.uniform(5.8,8.5),1)
quality_of_sleep=r.randint(4,9)
physical_activity_level=r.randint(30,90)
stress_level=r.randint(3,8)
heart_rate=r.randint(65,86)
daily_steps=r.randint(3000,10000)
systolic_blood_pressure=r.randint(115,142)
diastolic_blood_pressure=r.randint(75,95)
career=r.randint(1,8)
bmi=r.randint(1,2)
gen=r.randint(1,2)

In [163]:
#generate random input:
#empty dictionary:
input_dict={}
#random numerical values:
for key in num_keys:
    input_dict[key]=eval(key)
#random career category:
for i in range(len(career_keys)):
    if i==(career-1):
        input_dict[career_keys[i]]=1
    else: input_dict[career_keys[i]]=0
#random bmi:
for i in range(len(bmi_keys)):
    if i==(bmi-1):
        input_dict[bmi_keys[i]]=1
    else: input_dict[bmi_keys[i]]=0
#random gender:
for i in range(len(gen_keys)):
    if i==(gen-1):
        input_dict[gen_keys[i]]=1
    else: input_dict[gen_keys[i]]=0

In [164]:
#convert dictionary to pandas DataFrame:
input_df=pd.DataFrame(input_dict,index=[0])
#ensure DataFrame is in the correct order
input_df=input_df[keys]
#view Dataframe:
input_df

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,57,6.0,9,54,4,84,3484,129,83,0,...,0,1,0,0,0,0,0,1,0,1

In [174]:
scaler = StandardScaler()
input_scaler = scaler.fit(X_train)
pickle.dump(scaler,'scaler.pkl')
input_transformed=input_scaler.transform(input_df)

TypeError: file must have a 'write' attribute

In [166]:
#scaler = StandardScaler()
#scaler.fit(X_train)
#pickle.dump(scaler,'scaler.pkl')

In [169]:
prediction=nn.predict_on_batch(input_transformed)
print(prediction[0][0])

0.78878605

In [171]:
prediction=nn.predict(input_transformed, verbose=0)
print(round(prediction[0][0],0))

1.0