In [137]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sklearn as skl
import tensorflow as tf
from pathlib import Path
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

sql temporarily commented out until database is updated

In [138]:
#import data

# Create Engine
#engine = create_engine("sqlite:///lifestyle_sleep_data.sqlite")
# reflect an existing database into a new model
#Base = automap_base()
# reflect the tables
#Base.prepare(autoload_with=engine)

# Save reference to the table
#Sleep = Base.classes.lifestyle_sleep_data

In [139]:
# Create our session (link) from Python to the DB
#session = Session(engine)
#conn = engine.connect()

In [140]:
# Query All Records in the the Database
#sleep_df = pd.read_sql("SELECT * FROM lifestyle_sleep_data", conn)
#sleep_df=sleep_df.drop(columns = "person_id")
#sleep_df.head()

In [141]:
#temporary direct import of data while waiting for sql database update
sleep_df=pd.read_csv("../Data/Sleep_health_mk1.csv")
#handle lower case/upper case descrepancy
sleep_df.columns=sleep_df.columns.str.strip().str.lower()
#convert spaces to underscore
sleep_df.columns = sleep_df.columns.str.replace(' ', '_')
#remove unnamed column:
sleep_df.drop(columns="unnamed:_0",inplace=True)
#restore caps to BMI
sleep_df=sleep_df.rename(columns={"bmi_category":"BMI_category"})
sleep_df.head()

,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90

Data Preprocessing:

In [142]:
# Verify the categories of the "occupation" column
occupations=sleep_df['occupation'].value_counts()
occupations

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: occupation, dtype: int64

In [143]:
#bin occupations with fewer than 30 subjects
#determine which occupations qualify and add to a list
occupations_replace=[]
for occ in occupations.items():
    if occ[1]<30:
        occupations_replace.append(occ[0])
#replace said occupations with "Other"
for occ in occupations_replace:
    sleep_df['occupation']=sleep_df['occupation'].replace(occ,"Other")
#verify successful binning
sleep_df['occupation'].value_counts()

Nurse          73
Doctor         71
Engineer       63
Lawyer         47
Teacher        40
Accountant     37
Salesperson    32
Other          11
Name: occupation, dtype: int64

In [144]:
# Transform the occupation column using get_dummies
occupation_dummies = pd.get_dummies(sleep_df['occupation'])

# Concatenate the sleep_df and the occupation_dummies DataFrames
sleep_df = pd.concat([sleep_df, occupation_dummies], axis=1)

# Drop the original occupation column
sleep_df =sleep_df.drop(columns=["occupation"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher
0,Male,27,6.1,6,42,6,Overweight,77,4200,None,126,83,0,0,0,0,0,1,0,0
1,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,0,1,0,0,0,0,0,0
2,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,0,1,0,0,0,0,0,0
3,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,0,0,0,0,0,1,0,0
4,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,0,0,0,0,0,1,0,0

In [145]:
# Clean-up the "BMI-category"
sleep_df["BMI_category"] = sleep_df["BMI_category"].replace({'Normal': 'Normal Weight', 'Obese': 'Overweight'})
sleep_df['BMI_category'].value_counts()

Normal Weight    216
Overweight       158
Name: BMI_category, dtype: int64

In [146]:
# Transform the "BMI_category" column using get_dummies
bmi_dummies = pd.get_dummies(sleep_df['BMI_category'])

# Concatenate the sleep_df and the bmi_dummies DataFrames
sleep_df = pd.concat([sleep_df, bmi_dummies], axis=1)

# Drop the original "BMI_category"  column
sleep_df =sleep_df.drop(columns=["BMI_category"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,...,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight
0,Male,27,6.1,6,42,6,77,4200,None,126,...,0,0,0,0,0,1,0,0,0,1
1,Male,28,6.2,6,60,8,75,10000,None,125,...,0,1,0,0,0,0,0,0,1,0
2,Male,28,6.2,6,60,8,75,10000,None,125,...,0,1,0,0,0,0,0,0,1,0
3,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,0,0,0,0,0,1,0,0,0,1
4,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,0,0,0,0,0,1,0,0,0,1

In [147]:
# Verify the values of the "gender" column
sleep_df['gender'].value_counts()

Male      189
Female    185
Name: gender, dtype: int64

In [148]:
# Transform the "gender" column using get_dummies
gender_dummies = pd.get_dummies(sleep_df['gender'])

# Concatenate the sleep_df and the gender_dummies DataFrames
sleep_df = pd.concat([sleep_df, gender_dummies], axis=1)

# Drop the original "gender" column
sleep_df =sleep_df.drop(columns=["gender"])

# Display the DataFrame
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,None,126,83,...,0,0,0,1,0,0,0,1,0,1
1,28,6.2,6,60,8,75,10000,None,125,80,...,0,0,0,0,0,0,1,0,0,1
2,28,6.2,6,60,8,75,10000,None,125,80,...,0,0,0,0,0,0,1,0,0,1
3,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,0,0,0,1,0,0,0,1,0,1
4,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,0,0,0,1,0,0,0,1,0,1

In [149]:
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

None           219
Sleep Apnea     78
Insomnia        77
Name: sleep_disorder, dtype: int64

In [150]:
#diverge sheets with one preserving Sleep Apnea and Insomnia, vs combining into a single bin
sleep_df2=sleep_df.copy()

In [151]:
# Clean-up the "sleep_disorder" column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].replace({'Sleep Apnea': 'Sleep Disorder', 'Insomnia': 'Sleep Disorder'})
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

None              219
Sleep Disorder    155
Name: sleep_disorder, dtype: int64

In [152]:
# Encoding the sleep_disorder column using a custom function
def encode_disorder(disorder):
    """
    This function encodes sleep disorder status by setting sleep apnea as 1 and no as 0.
    """
    if disorder == "Sleep Disorder":
        return 1
    else:
        return 0

# Call the encode_marriage function on the marriage column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].apply(encode_disorder)

# Review the DataFrame 
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,0,126,83,...,0,0,0,1,0,0,0,1,0,1
1,28,6.2,6,60,8,75,10000,0,125,80,...,0,0,0,0,0,0,1,0,0,1
2,28,6.2,6,60,8,75,10000,0,125,80,...,0,0,0,0,0,0,1,0,0,1
3,28,5.9,4,30,8,85,3000,1,140,90,...,0,0,0,1,0,0,0,1,0,1
4,28,5.9,4,30,8,85,3000,1,140,90,...,0,0,0,1,0,0,0,1,0,1

In [153]:
# Transform the "sleep_disorder" column using get_dummies
disorder_dummies = pd.get_dummies(sleep_df2['sleep_disorder'])

# Identify target columns for later
target_col=list(disorder_dummies.columns)

# Concatenate the sleep_df and the disorder_dummies DataFrames
sleep_df2 = pd.concat([sleep_df2, disorder_dummies], axis=1)

# Drop the original "sleep_disorder" column
sleep_df2 = sleep_df2.drop(columns=["sleep_disorder"])

# Display the DataFrame
sleep_df2.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male,Insomnia,None,Sleep Apnea
0,27,6.1,6,42,6,77,4200,126,83,0,...,1,0,0,0,1,0,1,0,1,0
1,28,6.2,6,60,8,75,10000,125,80,0,...,0,0,0,1,0,0,1,0,1,0
2,28,6.2,6,60,8,75,10000,125,80,0,...,0,0,0,1,0,0,1,0,1,0
3,28,5.9,4,30,8,85,3000,140,90,0,...,1,0,0,0,1,0,1,0,0,1
4,28,5.9,4,30,8,85,3000,140,90,0,...,1,0,0,0,1,0,1,0,0,1

In [154]:
target_col

['Insomnia', 'None', 'Sleep Apnea']

Neural Network Time

In [125]:
# Seperate the features, X,  from the target variable, y
y = sleep_df['sleep_disorder']
X = sleep_df.drop(columns='sleep_disorder')

In [126]:
#split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [127]:
X_train.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
59,32,7.7,7,75,6,70,8000,120,80,0,...,0,0,0,0,0,0,1,0,0,1
12,29,6.1,6,30,8,70,8000,120,80,0,...,0,0,0,0,0,0,1,0,0,1
289,50,6.1,6,90,8,75,10000,140,95,0,...,0,0,1,0,0,0,0,1,1,0
201,43,7.8,8,90,5,70,8000,130,85,0,...,1,0,0,0,0,0,1,0,0,1
91,35,7.3,8,60,4,65,5000,125,80,0,...,1,0,0,0,0,0,1,0,0,1

In [128]:
#Scale X
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [129]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 176

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 227 (908.00 Byte)
Trainable params: 227 (908.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [130]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [131]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
9/9 [==============================] - 1s 2ms/step - loss: 0.6107 - accuracy: 0.5929
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5566 - accuracy: 0.6000
Epoch 3/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5143 - accuracy: 0.6571
Epoch 4/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.6786
Epoch 5/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4576 - accuracy: 0.6929
Epoch 6/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4391 - accuracy: 0.8071
Epoch 7/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4260 - accuracy: 0.8714
Epoch 8/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4156 - accuracy: 0.9071
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.9071
Epoch 10/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.9071
Epoch 11/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3965 - accuracy: 0.9143
Epoch 12/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3908 - accuracy: 0.9179
Epoch 13/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3849 - accuracy: 0.9179
Epoch 14/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3803 - accuracy: 0.9179
Epoch 15/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3750 - accuracy: 0.9179
Epoch 16/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.9214
Epoch 17/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.9214
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.9214
Epoch 19/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.9250
Epoch 20/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.9250
Epoch 21/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.9250
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.9250
Epoch 23/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3164 - accuracy: 0.9286
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3091 - accuracy: 0.9286
Epoch 25/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3035 - accuracy: 0.9286
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2967 - accuracy: 0.9286
Epoch 27/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2909 - accuracy: 0.9321
Epoch 28/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2857 - accuracy: 0.9321
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2800 - accuracy: 0.9357
Epoch 30/100
9/9 [==============================] - 0s 8ms/step - loss: 0.2750 - accuracy: 0.9393
Epoch 31/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2712 - accuracy: 0.9393
Epoch 32/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2669 - accuracy: 0.9393
Epoch 33/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2631 - accuracy: 0.9393
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2589 - accuracy: 0.9393
Epoch 35/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2532 - accuracy: 0.9393
Epoch 36/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2488 - accuracy: 0.9393
Epoch 37/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2446 - accuracy: 0.9393
Epoch 38/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2411 - accuracy: 0.9393
Epoch 39/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2376 - accuracy: 0.9393
Epoch 40/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2351 - accuracy: 0.9393
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2324 - accuracy: 0.9393
Epoch 42/100
9/9 [==============================] - 0s 6ms/step - loss: 0.2302 - accuracy: 0.9393
Epoch 43/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2281 - accuracy: 0.9393
Epoch 44/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2263 - accuracy: 0.9393
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2246 - accuracy: 0.9393
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2234 - accuracy: 0.9393
Epoch 47/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2222 - accuracy: 0.9393
Epoch 48/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2209 - accuracy: 0.9393
Epoch 49/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2199 - accuracy: 0.9393
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2189 - accuracy: 0.9429
Epoch 51/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2180 - accuracy: 0.9429
Epoch 52/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2173 - accuracy: 0.9429
Epoch 53/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2163 - accuracy: 0.9429
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2156 - accuracy: 0.9429
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2148 - accuracy: 0.9429
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2142 - accuracy: 0.9429
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2136 - accuracy: 0.9429
Epoch 58/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2130 - accuracy: 0.9429
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2124 - accuracy: 0.9429
Epoch 60/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2118 - accuracy: 0.9429
Epoch 61/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2114 - accuracy: 0.9429
Epoch 62/100
9/9 [==============================] - 0s 7ms/step - loss: 0.2112 - accuracy: 0.9429
Epoch 63/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2106 - accuracy: 0.9429
Epoch 64/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2102 - accuracy: 0.9429
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2097 - accuracy: 0.9429
Epoch 66/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2093 - accuracy: 0.9429
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2093 - accuracy: 0.9429
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2090 - accuracy: 0.9429
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2083 - accuracy: 0.9429
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2081 - accuracy: 0.9429
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2077 - accuracy: 0.9429
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2075 - accuracy: 0.9429
Epoch 73/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2074 - accuracy: 0.9429
Epoch 74/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2069 - accuracy: 0.9429
Epoch 75/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2064 - accuracy: 0.9429
Epoch 76/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2065 - accuracy: 0.9429
Epoch 77/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2062 - accuracy: 0.9429
Epoch 78/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2059 - accuracy: 0.9429
Epoch 79/100
9/9 [==============================] - 0s 7ms/step - loss: 0.2059 - accuracy: 0.9429
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2053 - accuracy: 0.9429
Epoch 81/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2054 - accuracy: 0.9429
Epoch 82/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2048 - accuracy: 0.9429
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2048 - accuracy: 0.9429
Epoch 84/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2045 - accuracy: 0.9429
Epoch 85/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2045 - accuracy: 0.9429
Epoch 86/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2041 - accuracy: 0.9429
Epoch 87/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2042 - accuracy: 0.9429
Epoch 88/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2040 - accuracy: 0.9429
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2035 - accuracy: 0.9429
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2031 - accuracy: 0.9429
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2029 - accuracy: 0.9429
Epoch 92/100
9/9 [==============================] - 0s 6ms/step - loss: 0.2027 - accuracy: 0.9429
Epoch 93/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2029 - accuracy: 0.9429
Epoch 94/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2028 - accuracy: 0.9429
Epoch 95/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2020 - accuracy: 0.9429
Epoch 96/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2022 - accuracy: 0.9429
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2018 - accuracy: 0.9429
Epoch 98/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2016 - accuracy: 0.9429
Epoch 99/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2014 - accuracy: 0.9429
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2014 - accuracy: 0.9429

In [132]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 - 0s - loss: 0.3582 - accuracy: 0.9149 - 191ms/epoch - 64ms/step
Loss: 0.3582134246826172, Accuracy: 0.914893627166748

In [133]:
# Export our model to HDF5 file
nn.save_weights('sleep_model.hdf5')

Try again without the sleep disorders binned

In [155]:
# Seperate the features, X,  from the target variable, y
y2 = sleep_df2[target_col]
X2 = sleep_df2.drop(columns=target_col)

In [156]:
#split dataset
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)

In [157]:
#Scale X
scaler2 = StandardScaler()

# Fit the StandardScaler
X_scaler2 = scaler2.fit(X_train2)

# Scale the data
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [161]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features2 = len(X_train2.columns)
hidden_nodes2_layer1 =  8
hidden_nodes2_layer2 = 5

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes2_layer1, input_dim=number_input_features2, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes2_layer2, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=3, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 8)                 176

 dense_7 (Dense)             (None, 5)                 45

 dense_8 (Dense)             (None, 3)                 18

=================================================================
Total params: 239 (956.00 Byte)
Trainable params: 239 (956.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [162]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [163]:
# Train the model
fit_model2 = nn2.fit(X_train_scaled2,y_train2,epochs=100)

Epoch 1/100

9/9 [==============================] - 1s 2ms/step - loss: 0.7525 - accuracy: 0.1500
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.7301 - accuracy: 0.2179
Epoch 3/100
9/9 [==============================] - 0s 2ms/step - loss: 0.7098 - accuracy: 0.2429
Epoch 4/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6925 - accuracy: 0.3000
Epoch 5/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6762 - accuracy: 0.3250
Epoch 6/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6615 - accuracy: 0.4679
Epoch 7/100
9/9 [==============================] - 0s 3ms/step - loss: 0.6487 - accuracy: 0.5000
Epoch 8/100
9/9 [==============================] - 0s 2ms/step - loss: 0.6348 - accuracy: 0.5571
Epoch 9/100
9/9 [==============================] - 0s 5ms/step - loss: 0.6181 - accuracy: 0.5929
Epoch 10/100
9/9 [==============================] - 0s 3ms/step - loss: 0.6010 - accuracy: 0.5929
Epoch 11/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5850 - accuracy: 0.5964
Epoch 12/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5702 - accuracy: 0.6143
Epoch 13/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5575 - accuracy: 0.6214
Epoch 14/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5456 - accuracy: 0.6250
Epoch 15/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5337 - accuracy: 0.6214
Epoch 16/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5174 - accuracy: 0.6321
Epoch 17/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4968 - accuracy: 0.6714
Epoch 18/100
9/9 [==============================] - 0s 7ms/step - loss: 0.4778 - accuracy: 0.6893
Epoch 19/100
9/9 [==============================] - 0s 5ms/step - loss: 0.4591 - accuracy: 0.6893
Epoch 20/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4401 - accuracy: 0.6929
Epoch 21/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4227 - accuracy: 0.7393
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4070 - accuracy: 0.7464
Epoch 23/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3938 - accuracy: 0.7464
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.7464
Epoch 25/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3722 - accuracy: 0.7429
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3636 - accuracy: 0.7536
Epoch 27/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.7536
Epoch 28/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.7464
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.7500
Epoch 30/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.7500
Epoch 31/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.7464
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3219 - accuracy: 0.7500
Epoch 33/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3159 - accuracy: 0.7500
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3104 - accuracy: 0.7536
Epoch 35/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3042 - accuracy: 0.8214
Epoch 36/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2961 - accuracy: 0.8286
Epoch 37/100
9/9 [==============================] - 0s 5ms/step - loss: 0.2868 - accuracy: 0.8893
Epoch 38/100
9/9 [==============================] - 0s 4ms/step - loss: 0.2754 - accuracy: 0.9000
Epoch 39/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2658 - accuracy: 0.9000
Epoch 40/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2575 - accuracy: 0.9000
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2494 - accuracy: 0.9000
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2425 - accuracy: 0.9000
Epoch 43/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2367 - accuracy: 0.9000
Epoch 44/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2315 - accuracy: 0.9000
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2272 - accuracy: 0.9000
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2234 - accuracy: 0.9000
Epoch 47/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2199 - accuracy: 0.9036
Epoch 48/100
9/9 [==============================] - 0s 8ms/step - loss: 0.2172 - accuracy: 0.9036
Epoch 49/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2146 - accuracy: 0.9036
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2126 - accuracy: 0.9036
Epoch 51/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2101 - accuracy: 0.9036
Epoch 52/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2084 - accuracy: 0.9036
Epoch 53/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2066 - accuracy: 0.9036
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2049 - accuracy: 0.9036
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2036 - accuracy: 0.9036
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2024 - accuracy: 0.9036
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2011 - accuracy: 0.9036
Epoch 58/100
9/9 [==============================] - 0s 6ms/step - loss: 0.1997 - accuracy: 0.9036
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1990 - accuracy: 0.9036
Epoch 60/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1976 - accuracy: 0.9036
Epoch 61/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1968 - accuracy: 0.9036
Epoch 62/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1959 - accuracy: 0.9036
Epoch 63/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1949 - accuracy: 0.9036
Epoch 64/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1941 - accuracy: 0.9036
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1934 - accuracy: 0.9036
Epoch 66/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1925 - accuracy: 0.9036
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1918 - accuracy: 0.9036
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1911 - accuracy: 0.9036
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1903 - accuracy: 0.9036
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1896 - accuracy: 0.9036
Epoch 71/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1890 - accuracy: 0.9036
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1886 - accuracy: 0.9036
Epoch 73/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1880 - accuracy: 0.9036
Epoch 74/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1875 - accuracy: 0.9036
Epoch 75/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1872 - accuracy: 0.9036
Epoch 76/100
9/9 [==============================] - 0s 7ms/step - loss: 0.1864 - accuracy: 0.9036
Epoch 77/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1859 - accuracy: 0.9107
Epoch 78/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1858 - accuracy: 0.9107
Epoch 79/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1851 - accuracy: 0.9107
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1848 - accuracy: 0.9071
Epoch 81/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1844 - accuracy: 0.9071
Epoch 82/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9107
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9107
Epoch 84/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9107
Epoch 85/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9107
Epoch 86/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9107
Epoch 87/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1825 - accuracy: 0.9107
Epoch 88/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9107
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1818 - accuracy: 0.9143
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1817 - accuracy: 0.9143
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1813 - accuracy: 0.9143
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1813 - accuracy: 0.9143
Epoch 93/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1810 - accuracy: 0.9143
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1807 - accuracy: 0.9143
Epoch 95/100
9/9 [==============================] - 0s 7ms/step - loss: 0.1804 - accuracy: 0.9143
Epoch 96/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1803 - accuracy: 0.9143
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1802 - accuracy: 0.9143
Epoch 98/100
9/9 [==============================] - 0s 3ms/step - loss: 0.1798 - accuracy: 0.9143
Epoch 99/100
9/9 [==============================] - 0s 6ms/step - loss: 0.1797 - accuracy: 0.9143
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1795 - accuracy: 0.9143

In [164]:
# Evaluate the model using the test data
model_loss2, model_accuracy2 = nn2.evaluate(X_test_scaled2,y_test2,verbose=2)
print(f"Loss: {model_loss2}, Accuracy: {model_accuracy2}")

3/3 - 0s - loss: 0.2911 - accuracy: 0.8830 - 138ms/epoch - 46ms/step
Loss: 0.2910829484462738, Accuracy: 0.8829787373542786

In [165]:
# Export our model to HDF5 file
nn2.save_weights('sleep_model2.hdf5')