In [28]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sklearn as skl
import tensorflow as tf
from pathlib import Path
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [29]:
#import data

# Create Engine
engine = create_engine("sqlite:///../lifestyle_sleep_data.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

# Save reference to the table
Sleep = Base.classes.lifestyle_sleep_data

In [30]:
# Create our session (link) from Python to the DB
session = Session(engine)
conn = engine.connect()

In [31]:
# Query All Records in the the Database
sleep_df = pd.read_sql("SELECT * FROM lifestyle_sleep_data", conn)
sleep_df=sleep_df.drop(columns = "person_id")
sleep_df.head()

,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90

In [32]:
#temporary direct import of data while waiting for sql database update
#sleep_df=pd.read_csv("../Data/Sleep_health_mk1.csv")
#handle lower case/upper case descrepancy
#sleep_df.columns=sleep_df.columns.str.strip().str.lower()
#convert spaces to underscore
#sleep_df.columns = sleep_df.columns.str.replace(' ', '_')
#remove unnamed column:
#sleep_df.drop(columns="unnamed:_0",inplace=True)
#restore caps to BMI
#sleep_df=sleep_df.rename(columns={"bmi_category":"BMI_category"})
#sleep_df.head()

Data Preprocessing:

In [33]:
# Verify the categories of the "occupation" column
occupations=sleep_df['occupation'].value_counts()
occupations

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: occupation, dtype: int64

In [34]:
#bin occupations with fewer than 30 subjects
#determine which occupations qualify and add to a list
occupations_replace=[]
for occ in occupations.items():
    if occ[1]<30:
        occupations_replace.append(occ[0])
#replace said occupations with "Other"
for occ in occupations_replace:
    sleep_df['occupation']=sleep_df['occupation'].replace(occ,"Other")
#verify successful binning
sleep_df['occupation'].value_counts()

Nurse          73
Doctor         71
Engineer       63
Lawyer         47
Teacher        40
Accountant     37
Salesperson    32
Other          11
Name: occupation, dtype: int64

In [35]:
len(sleep_df['occupation'].value_counts())

8

In [9]:
# Transform the occupation column using get_dummies
occupation_dummies = pd.get_dummies(sleep_df['occupation'])

# Concatenate the sleep_df and the occupation_dummies DataFrames
sleep_df = pd.concat([sleep_df, occupation_dummies], axis=1)

# Drop the original occupation column
sleep_df =sleep_df.drop(columns=["occupation"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,BMI_category,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher
0,Male,27,6.1,6,42,6,Overweight,77,4200,None,126,83,0,0,0,0,0,1,0,0
1,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,0,1,0,0,0,0,0,0
2,Male,28,6.2,6,60,8,Normal,75,10000,None,125,80,0,1,0,0,0,0,0,0
3,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,0,0,0,0,0,1,0,0
4,Male,28,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,0,0,0,0,0,1,0,0

In [10]:
# Clean-up the "BMI-category"
sleep_df["BMI_category"] = sleep_df["BMI_category"].replace({'Normal': 'Normal Weight', 'Obese': 'Overweight'})
sleep_df['BMI_category'].value_counts()

Normal Weight    216
Overweight       158
Name: BMI_category, dtype: int64

In [11]:
# Transform the "BMI_category" column using get_dummies
bmi_dummies = pd.get_dummies(sleep_df['BMI_category'])

# Concatenate the sleep_df and the bmi_dummies DataFrames
sleep_df = pd.concat([sleep_df, bmi_dummies], axis=1)

# Drop the original "BMI_category"  column
sleep_df =sleep_df.drop(columns=["BMI_category"])

# Display the DataFrame
sleep_df.head()

,gender,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,...,Accountant,Doctor,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight
0,Male,27,6.1,6,42,6,77,4200,None,126,...,0,0,0,0,0,1,0,0,0,1
1,Male,28,6.2,6,60,8,75,10000,None,125,...,0,1,0,0,0,0,0,0,1,0
2,Male,28,6.2,6,60,8,75,10000,None,125,...,0,1,0,0,0,0,0,0,1,0
3,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,0,0,0,0,0,1,0,0,0,1
4,Male,28,5.9,4,30,8,85,3000,Sleep Apnea,140,...,0,0,0,0,0,1,0,0,0,1

In [12]:
# Verify the values of the "gender" column
sleep_df['gender'].value_counts()

Male      189
Female    185
Name: gender, dtype: int64

In [13]:
# Transform the "gender" column using get_dummies
gender_dummies = pd.get_dummies(sleep_df['gender'])

# Concatenate the sleep_df and the gender_dummies DataFrames
sleep_df = pd.concat([sleep_df, gender_dummies], axis=1)

# Drop the original "gender" column
sleep_df =sleep_df.drop(columns=["gender"])

# Display the DataFrame
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,None,126,83,...,0,0,0,1,0,0,0,1,0,1
1,28,6.2,6,60,8,75,10000,None,125,80,...,0,0,0,0,0,0,1,0,0,1
2,28,6.2,6,60,8,75,10000,None,125,80,...,0,0,0,0,0,0,1,0,0,1
3,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,0,0,0,1,0,0,0,1,0,1
4,28,5.9,4,30,8,85,3000,Sleep Apnea,140,90,...,0,0,0,1,0,0,0,1,0,1

In [14]:
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

None           219
Sleep Apnea     78
Insomnia        77
Name: sleep_disorder, dtype: int64

In [15]:
#diverge sheets with one preserving Sleep Apnea and Insomnia, vs combining into a single bin
sleep_df2=sleep_df.copy()

In [16]:
# Clean-up the "sleep_disorder" column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].replace({'Sleep Apnea': 'Sleep Disorder', 'Insomnia': 'Sleep Disorder'})
# Verify the values of the "sleep_disorder" column
sleep_df['sleep_disorder'].value_counts()

None              219
Sleep Disorder    155
Name: sleep_disorder, dtype: int64

In [17]:
# Encoding the sleep_disorder column using a custom function
def encode_disorder(disorder):
    """
    This function encodes sleep disorder status by setting sleep apnea as 1 and no as 0.
    """
    if disorder == "Sleep Disorder":
        return 1
    else:
        return 0

# Call the encode_marriage function on the marriage column
sleep_df["sleep_disorder"] = sleep_df["sleep_disorder"].apply(encode_disorder)

# Review the DataFrame 
sleep_df.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,sleep_disorder,systolic_blood_pressure,diastolic_blood_pressure,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
0,27,6.1,6,42,6,77,4200,0,126,83,...,0,0,0,1,0,0,0,1,0,1
1,28,6.2,6,60,8,75,10000,0,125,80,...,0,0,0,0,0,0,1,0,0,1
2,28,6.2,6,60,8,75,10000,0,125,80,...,0,0,0,0,0,0,1,0,0,1
3,28,5.9,4,30,8,85,3000,1,140,90,...,0,0,0,1,0,0,0,1,0,1
4,28,5.9,4,30,8,85,3000,1,140,90,...,0,0,0,1,0,0,0,1,0,1

In [18]:
# Transform the "sleep_disorder" column using get_dummies
disorder_dummies = pd.get_dummies(sleep_df2['sleep_disorder'])

# Identify target columns for later
target_col=list(disorder_dummies.columns)

# Concatenate the sleep_df and the disorder_dummies DataFrames
sleep_df2 = pd.concat([sleep_df2, disorder_dummies], axis=1)

# Drop the original "sleep_disorder" column
sleep_df2 = sleep_df2.drop(columns=["sleep_disorder"])

# Display the DataFrame
sleep_df2.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male,Insomnia,None,Sleep Apnea
0,27,6.1,6,42,6,77,4200,126,83,0,...,1,0,0,0,1,0,1,0,1,0
1,28,6.2,6,60,8,75,10000,125,80,0,...,0,0,0,1,0,0,1,0,1,0
2,28,6.2,6,60,8,75,10000,125,80,0,...,0,0,0,1,0,0,1,0,1,0
3,28,5.9,4,30,8,85,3000,140,90,0,...,1,0,0,0,1,0,1,0,0,1
4,28,5.9,4,30,8,85,3000,140,90,0,...,1,0,0,0,1,0,1,0,0,1

In [19]:
target_col

['Insomnia', 'None', 'Sleep Apnea']

Neural Network Time

In [20]:
# Seperate the features, X,  from the target variable, y
y = sleep_df['sleep_disorder']
X = sleep_df.drop(columns='sleep_disorder')

In [22]:

print(X.columns)
keys=list(X.columns)

Index(['age', 'sleep_duration', 'quality_of_sleep', 'physical_activity_level',
       'stress_level', 'heart_rate', 'daily_steps', 'systolic_blood_pressure',
       'diastolic_blood_pressure', 'Accountant', 'Doctor', 'Engineer',
       'Lawyer', 'Nurse', 'Other', 'Salesperson', 'Teacher', 'Normal Weight',
       'Overweight', 'Female', 'Male'],
      dtype='object')

In [39]:
X.iloc[0]

age                           27.0
sleep_duration                 6.1
quality_of_sleep               6.0
physical_activity_level       42.0
stress_level                   6.0
heart_rate                    77.0
daily_steps                 4200.0
systolic_blood_pressure      126.0
diastolic_blood_pressure      83.0
Accountant                     0.0
Doctor                         0.0
Engineer                       0.0
Lawyer                         0.0
Nurse                          0.0
Other                          1.0
Salesperson                    0.0
Teacher                        0.0
Normal Weight                  0.0
Overweight                     1.0
Female                         0.0
Male                           1.0
Name: 0, dtype: float64

In [40]:
X.iloc[0].to_numpy()

array([2.70e+01, 6.10e+00, 6.00e+00, 4.20e+01, 6.00e+00, 7.70e+01,
       4.20e+03, 1.26e+02, 8.30e+01, 0.00e+00, 0.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
       1.00e+00, 0.00e+00, 1.00e+00])

In [26]:
for key in keys:
    max_=X[key].max()
    min_=X[key].min()
    print(f"{key}: max:{max_}, min:{min_}, range:{(max_-min_)}")

age: max:59, min:27, range:32
sleep_duration: max:8.5, min:5.8, range:2.7
quality_of_sleep: max:9, min:4, range:5
physical_activity_level: max:90, min:30, range:60
stress_level: max:8, min:3, range:5
heart_rate: max:86, min:65, range:21
daily_steps: max:10000, min:3000, range:7000
systolic_blood_pressure: max:142, min:115, range:27
diastolic_blood_pressure: max:95, min:75, range:20
Accountant: max:1, min:0, range:1
Doctor: max:1, min:0, range:1
Engineer: max:1, min:0, range:1
Lawyer: max:1, min:0, range:1
Nurse: max:1, min:0, range:1
Other: max:1, min:0, range:1
Salesperson: max:1, min:0, range:1
Teacher: max:1, min:0, range:1
Normal Weight: max:1, min:0, range:1
Overweight: max:1, min:0, range:1
Female: max:1, min:0, range:1
Male: max:1, min:0, range:1

In [22]:
#split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
X_train.head()

,age,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,heart_rate,daily_steps,systolic_blood_pressure,diastolic_blood_pressure,Accountant,...,Engineer,Lawyer,Nurse,Other,Salesperson,Teacher,Normal Weight,Overweight,Female,Male
59,32,7.7,7,75,6,70,8000,120,80,0,...,0,0,0,0,0,0,1,0,0,1
12,29,6.1,6,30,8,70,8000,120,80,0,...,0,0,0,0,0,0,1,0,0,1
289,50,6.1,6,90,8,75,10000,140,95,0,...,0,0,1,0,0,0,0,1,1,0
201,43,7.8,8,90,5,70,8000,130,85,0,...,1,0,0,0,0,0,1,0,0,1
91,35,7.3,8,60,4,65,5000,125,80,0,...,1,0,0,0,0,0,1,0,0,1

In [24]:
#Scale X
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 176

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 227 (908.00 Byte)
Trainable params: 227 (908.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

9/9 [==============================] - 1s 2ms/step - loss: 0.6294 - accuracy: 0.5679
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5919 - accuracy: 0.6964
Epoch 3/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5606 - accuracy: 0.7750
Epoch 4/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5334 - accuracy: 0.7964
Epoch 5/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5117 - accuracy: 0.7964
Epoch 6/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4907 - accuracy: 0.8071
Epoch 7/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4713 - accuracy: 0.8893
Epoch 8/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4522 - accuracy: 0.9143
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4355 - accuracy: 0.9214
Epoch 10/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4195 - accuracy: 0.9286
Epoch 11/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.9321
Epoch 12/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3928 - accuracy: 0.9321
Epoch 13/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3806 - accuracy: 0.9321
Epoch 14/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3694 - accuracy: 0.9321
Epoch 15/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3593 - accuracy: 0.9321
Epoch 16/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3493 - accuracy: 0.9321
Epoch 17/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.9321
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.9321
Epoch 19/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.9321
Epoch 20/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3154 - accuracy: 0.9321
Epoch 21/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3059 - accuracy: 0.9321
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2956 - accuracy: 0.9357
Epoch 23/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2869 - accuracy: 0.9357
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2781 - accuracy: 0.9357
Epoch 25/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2713 - accuracy: 0.9357
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2654 - accuracy: 0.9357
Epoch 27/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2607 - accuracy: 0.9357
Epoch 28/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2558 - accuracy: 0.9357
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2518 - accuracy: 0.9357
Epoch 30/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2482 - accuracy: 0.9357
Epoch 31/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2451 - accuracy: 0.9357
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2426 - accuracy: 0.9357
Epoch 33/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2398 - accuracy: 0.9357
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2377 - accuracy: 0.9357
Epoch 35/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2355 - accuracy: 0.9357
Epoch 36/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2338 - accuracy: 0.9357
Epoch 37/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2321 - accuracy: 0.9357
Epoch 38/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2305 - accuracy: 0.9357
Epoch 39/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2293 - accuracy: 0.9357
Epoch 40/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2280 - accuracy: 0.9357
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2269 - accuracy: 0.9357
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2258 - accuracy: 0.9357
Epoch 43/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2247 - accuracy: 0.9357
Epoch 44/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2239 - accuracy: 0.9357
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2229 - accuracy: 0.9357
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2218 - accuracy: 0.9357
Epoch 47/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2211 - accuracy: 0.9357
Epoch 48/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2203 - accuracy: 0.9357
Epoch 49/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2197 - accuracy: 0.9357
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2187 - accuracy: 0.9357
Epoch 51/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2181 - accuracy: 0.9357
Epoch 52/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2174 - accuracy: 0.9393
Epoch 53/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2167 - accuracy: 0.9393
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2160 - accuracy: 0.9393
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2155 - accuracy: 0.9393
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2150 - accuracy: 0.9393
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2142 - accuracy: 0.9393
Epoch 58/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2136 - accuracy: 0.9393
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2130 - accuracy: 0.9393
Epoch 60/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2125 - accuracy: 0.9393
Epoch 61/100
9/9 [==============================] - 0s 5ms/step - loss: 0.2118 - accuracy: 0.9393
Epoch 62/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2113 - accuracy: 0.9393
Epoch 63/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2107 - accuracy: 0.9393
Epoch 64/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2104 - accuracy: 0.9393
Epoch 65/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2098 - accuracy: 0.9393
Epoch 66/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2093 - accuracy: 0.9393
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2088 - accuracy: 0.9393
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2087 - accuracy: 0.9393
Epoch 69/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2082 - accuracy: 0.9393
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2076 - accuracy: 0.9393
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2074 - accuracy: 0.9393
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2070 - accuracy: 0.9393
Epoch 73/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2064 - accuracy: 0.9393
Epoch 74/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2062 - accuracy: 0.9429
Epoch 75/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2059 - accuracy: 0.9429
Epoch 76/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2054 - accuracy: 0.9429
Epoch 77/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2051 - accuracy: 0.9429
Epoch 78/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2050 - accuracy: 0.9429
Epoch 79/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2046 - accuracy: 0.9429
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2042 - accuracy: 0.9429
Epoch 81/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2039 - accuracy: 0.9429
Epoch 82/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2039 - accuracy: 0.9429
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2035 - accuracy: 0.9429
Epoch 84/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2032 - accuracy: 0.9429
Epoch 85/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2031 - accuracy: 0.9429
Epoch 86/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2026 - accuracy: 0.9429
Epoch 87/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2023 - accuracy: 0.9429
Epoch 88/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2025 - accuracy: 0.9429
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2021 - accuracy: 0.9429
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2017 - accuracy: 0.9429
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2015 - accuracy: 0.9429
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2013 - accuracy: 0.9429
Epoch 93/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2011 - accuracy: 0.9429
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2008 - accuracy: 0.9429
Epoch 95/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2006 - accuracy: 0.9429
Epoch 96/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2003 - accuracy: 0.9429
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1999 - accuracy: 0.9429
Epoch 98/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1997 - accuracy: 0.9429
Epoch 99/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9429
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9429

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 - 0s - loss: 0.3379 - accuracy: 0.9149 - 202ms/epoch - 67ms/step
Loss: 0.33785295486450195, Accuracy: 0.914893627166748

In [29]:
# Export our model to HDF5 file
nn.save_weights('sleep_model.hdf5')

Try again without the sleep disorders binned

In [30]:
# Seperate the features, X,  from the target variable, y
y2 = sleep_df2[target_col]
X2 = sleep_df2.drop(columns=target_col)

In [31]:
#split dataset
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)

In [32]:
#Scale X
scaler2 = StandardScaler()

# Fit the StandardScaler
X_scaler2 = scaler2.fit(X_train2)

# Scale the data
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features2 = len(X_train2.columns)
hidden_nodes2_layer1 =  8
hidden_nodes2_layer2 = 5

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes2_layer1, input_dim=number_input_features2, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes2_layer2, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=3, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 176

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 3)                 18

=================================================================
Total params: 239 (956.00 Byte)
Trainable params: 239 (956.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [35]:
# Train the model
fit_model2 = nn2.fit(X_train_scaled2,y_train2,epochs=100)

Epoch 1/100

9/9 [==============================] - 1s 2ms/step - loss: 0.5994 - accuracy: 0.5929
Epoch 2/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5697 - accuracy: 0.5964
Epoch 3/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5439 - accuracy: 0.5964
Epoch 4/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5198 - accuracy: 0.6036
Epoch 5/100
9/9 [==============================] - 0s 2ms/step - loss: 0.5002 - accuracy: 0.6036
Epoch 6/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4813 - accuracy: 0.6036
Epoch 7/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4636 - accuracy: 0.6214
Epoch 8/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4475 - accuracy: 0.6607
Epoch 9/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.6679
Epoch 10/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4206 - accuracy: 0.7250
Epoch 11/100
9/9 [==============================] - 0s 2ms/step - loss: 0.4093 - accuracy: 0.7536
Epoch 12/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8000
Epoch 13/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3908 - accuracy: 0.8000
Epoch 14/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8036
Epoch 15/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8036
Epoch 16/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.8071
Epoch 17/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8071
Epoch 18/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8107
Epoch 19/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8107
Epoch 20/100
9/9 [==============================] - 0s 3ms/step - loss: 0.3440 - accuracy: 0.8143
Epoch 21/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8286
Epoch 22/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8286
Epoch 23/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8321
Epoch 24/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3275 - accuracy: 0.8321
Epoch 25/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8036
Epoch 26/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3206 - accuracy: 0.7107
Epoch 27/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3178 - accuracy: 0.6786
Epoch 28/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3149 - accuracy: 0.6857
Epoch 29/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3125 - accuracy: 0.7107
Epoch 30/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.6857
Epoch 31/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3080 - accuracy: 0.7143
Epoch 32/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3060 - accuracy: 0.7250
Epoch 33/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3042 - accuracy: 0.7071
Epoch 34/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3024 - accuracy: 0.7393
Epoch 35/100
9/9 [==============================] - 0s 2ms/step - loss: 0.3003 - accuracy: 0.8393
Epoch 36/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2984 - accuracy: 0.8357
Epoch 37/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2967 - accuracy: 0.8321
Epoch 38/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2949 - accuracy: 0.8321
Epoch 39/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2932 - accuracy: 0.8321
Epoch 40/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2914 - accuracy: 0.8321
Epoch 41/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2893 - accuracy: 0.8321
Epoch 42/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8643
Epoch 43/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2856 - accuracy: 0.8786
Epoch 44/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2835 - accuracy: 0.8786
Epoch 45/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2814 - accuracy: 0.8786
Epoch 46/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2791 - accuracy: 0.9036
Epoch 47/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2767 - accuracy: 0.8929
Epoch 48/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2742 - accuracy: 0.9143
Epoch 49/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2714 - accuracy: 0.9143
Epoch 50/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2681 - accuracy: 0.9143
Epoch 51/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2647 - accuracy: 0.9143
Epoch 52/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2613 - accuracy: 0.9143
Epoch 53/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2576 - accuracy: 0.9143
Epoch 54/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2540 - accuracy: 0.9179
Epoch 55/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2502 - accuracy: 0.9179
Epoch 56/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2463 - accuracy: 0.9179
Epoch 57/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2424 - accuracy: 0.9179
Epoch 58/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2385 - accuracy: 0.9179
Epoch 59/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2350 - accuracy: 0.9179
Epoch 60/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2310 - accuracy: 0.9179
Epoch 61/100
9/9 [==============================] - 0s 10ms/step - loss: 0.2279 - accuracy: 0.9214
Epoch 62/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2239 - accuracy: 0.9214
Epoch 63/100
9/9 [==============================] - 0s 3ms/step - loss: 0.2208 - accuracy: 0.9214
Epoch 64/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2175 - accuracy: 0.9214
Epoch 65/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2144 - accuracy: 0.9214
Epoch 66/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2114 - accuracy: 0.9214
Epoch 67/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2085 - accuracy: 0.9214
Epoch 68/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2059 - accuracy: 0.9214
Epoch 69/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2030 - accuracy: 0.9214
Epoch 70/100
9/9 [==============================] - 0s 2ms/step - loss: 0.2011 - accuracy: 0.9214
Epoch 71/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1987 - accuracy: 0.9214
Epoch 72/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1964 - accuracy: 0.9214
Epoch 73/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1947 - accuracy: 0.9286
Epoch 74/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1927 - accuracy: 0.9286
Epoch 75/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1911 - accuracy: 0.9286
Epoch 76/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1894 - accuracy: 0.9286
Epoch 77/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1880 - accuracy: 0.9286
Epoch 78/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1867 - accuracy: 0.9286
Epoch 79/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1852 - accuracy: 0.9286
Epoch 80/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9286
Epoch 81/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9286
Epoch 82/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1818 - accuracy: 0.9286
Epoch 83/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1808 - accuracy: 0.9286
Epoch 84/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1799 - accuracy: 0.9286
Epoch 85/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1790 - accuracy: 0.9286
Epoch 86/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1782 - accuracy: 0.9286
Epoch 87/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1774 - accuracy: 0.9286
Epoch 88/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1768 - accuracy: 0.9286
Epoch 89/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1761 - accuracy: 0.9286
Epoch 90/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1754 - accuracy: 0.9286
Epoch 91/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1747 - accuracy: 0.9286
Epoch 92/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1741 - accuracy: 0.9286
Epoch 93/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1735 - accuracy: 0.9286
Epoch 94/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1732 - accuracy: 0.9286
Epoch 95/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1725 - accuracy: 0.9286
Epoch 96/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1720 - accuracy: 0.9286
Epoch 97/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1717 - accuracy: 0.9286
Epoch 98/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1714 - accuracy: 0.9286
Epoch 99/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1710 - accuracy: 0.9286
Epoch 100/100
9/9 [==============================] - 0s 2ms/step - loss: 0.1707 - accuracy: 0.9286

In [36]:
# Evaluate the model using the test data
model_loss2, model_accuracy2 = nn2.evaluate(X_test_scaled2,y_test2,verbose=2)
print(f"Loss: {model_loss2}, Accuracy: {model_accuracy2}")

3/3 - 0s - loss: 0.3034 - accuracy: 0.8936 - 166ms/epoch - 55ms/step
Loss: 0.30335119366645813, Accuracy: 0.8936170339584351

In [37]:
# Export our model to HDF5 file
nn2.save_weights('sleep_model2.hdf5')